@import url(https://fonts.googleapis.com/css?family=Roboto);

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

#output {
  padding: 20px;
  text-align: center;
}

#fruit1 {
    position: absolute;
    background-image: url("bananen.png");
  }

#fruit2 {
    position: absolute;
    background-image: url("birne.png");
    transform: rotate(10deg);
}

#fruit3 {
  position: absolute;
  background-image: url("apfel.png");
}

#korb {
    width: 80px;
    height: 80px;
    background: url("korb.png");
    background-size: 80px 80px;
    top: 240px;
    left: 480px;
    position: absolute;
}

#baum {
    width: 200px;
    height: 330px;
    background: url("baum.png");
    background-size: 200px 330px;
    top: 0px;
    left: -25px;
    position: absolute;
}

#frank {
    width: 100px;
    height: 100px;
    position: absolute;
    background: url("frank.png");
}

#field {
  width: 560px;
  height: 315px;
  position: relative;
  background: skyblue;
}